<h1>Movie #<%= @movie.id %></h1>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director.name %>
</p>

<p>
  <b>Roles:</b>
  <ul>
    <% @movie.roles.each do |role| %>
      <li><%= role.character_name %></li>
    <% end %>
  </ul>
</p>












