<h1>New Director</h1>

<% if @director.errors.any? %>
  <ul>
    <% @director.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag(directors_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

    <div>
    <%= label_tag :dob %><br />
    <%= text_field_tag :dob %>
  </div>


  <div>
    <%= submit_tag "Create Director" %>
  </div>
<% end %>
