<h1>New Role</h1>

<% if @role.errors.any? %>
  <ul>
    <% @role.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag(roles_url, method: 'post') do %>


  <div>
    <%= label_tag :character_name %><br />
    <%= text_field_tag :character_name %>
  </div>

    <div>
    <%= label_tag :actor_id %><br />
    <%= select_tag :actor_id, options_from_collection_for_select(Actor.all, :id, :name) %>
  </div>

    <div>
    <%= label_tag :movie_id %><br />
    <%= select_tag :movie_id, options_from_collection_for_select(Movie.all, :id, :title) %>
  </div>


  <div>
    <%= submit_tag "Create Role" %>
  </div>
<% end %>
