<h1>Votes</h1>

<p><%= link_to 'Add a New Vote', new_vote_url %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Movie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @votes.each do |vote| %>
    <tr>
      <td><%= vote.user.username %></td>
      <td><%= vote.movie.title %></td>
      <% if vote.user == current_user %>
        <td><%= link_to 'Show', vote_url(vote) %></td>
        <td><%= link_to 'Edit', edit_vote_url(vote) %></td>
        <td><%= link_to 'Destroy', vote_url(vote), method: 'delete', data: { confirm: "Do you really want to delete this vote?" } %></td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

