<h1>New Vote</h1>


<%= form_tag(votes_url, method: 'post') do %>


  <div>
    <%= label_tag :user_id %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :username) %>
  </div>

    <div>
    <%= label_tag :movie_id %><br />
    <%= select_tag :movie_id, options_from_collection_for_select(Movie.all, :id, :title) %>
  </div>


  <div>
    <%= submit_tag "Create Vote" %>
  </div>
<% end %>
