<h1>New Vote</h1>


<%= form_tag(votes_url, method: 'post') do %>
    <% u = User.find_by_username(session[:username]) %>
    <input name="user_id" type="hidden" value="<%= u.id %>">

    <div>
    <%= label_tag :movie_id %><br />
    <%= select_tag :movie_id, options_from_collection_for_select(Movie.all, :id, :title) %>
  </div>


  <div>
    <%= submit_tag "Create Vote" %>
  </div>
<% end %>
