<!DOCTYPE html>
<html>
<head>
  <title>Academy Movie Database</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <%= link_to "Directors", directors_url %> |
    <%= link_to "Movies", movies_url %> |
    <%= link_to "Roles", roles_url %> |
    <%= link_to "Actors", actors_url %> |
    <%= link_to "Users", users_url %> |
    <%= link_to "Votes", votes_url %> |
    <% if session[:username].present? %>
      <%= link_to "Sign Out", sessions_url, method: 'delete' %> |
    <% else %>
      <%= link_to "Sign In", new_session_url %> |
      <%= link_to "Sign Up", new_user_url %>
    <% end %>
  </nav>
  <% if session[:username].present? %>
    <p>Welcome back, <%= session[:username] %>!</p>
  <% end %>
  <p><%= notice %></p>
<%= yield %>

</body>
</html>











